:root {
  /* Цвета */
  --white-color: #fff; /* Белый */
  --translucent-white-color: #d7ccc0; /* Полупрозрачный белый */
  --light-color: #f5f4f0; /* Светлый */
  --main-color: #fe8a02; /* Основной */
  --main-dark-color: #42413c; /* Основной тёмный */
  --dark-color: #2a2626; /* Тёмный */
  --translucent-dark-color: #908d8b; /* Полупрозрачный тёмный */
  --brown-color: #b09a81; /* Коричневый */
  --blue-color: #1085c5; /* Синий */
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  font-style: normal;
  color: var(--dark-color);
  margin: 0;
  overflow-x: hidden;
}
h1,
h2,
h3 {
  line-height: 1.2em;
  font-family: "Neucha", cursive;
  position: relative;
  z-index: 1;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 34px;
}
.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
}
.basic-bg::before {
  content: "";
  background-image: url(./images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  position: absolute;
  height: 100%;
  width: 100%;
}
.basic-bg {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background: var(--light-color);
}
.orange {
  color: var(--main-color);
}
.dark {
  color: var(--dark-color);
}
.wrapper img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}
.columns-2 {
  padding-top: 200px;
  column-count: 2;
  column-gap: 30px;
}
.columns-2 p {
  margin-top: 0;
  break-inside: avoid;
}
a {
  background: var(--main-color);
  font-weight: bold;
  color: var(--light-color);
  padding: 12px 24px;
}
.button-columns-2 {
  column-count: 2;
  column-gap: 30px;
  margin-top: 37px;
}
/* Start video-section */
.video-section {
  text-align: center;
  background: linear-gradient(
    360deg,
    var(--main-dark-color),
    var(--main-dark-color) 100px,
    var(--white-color) 100px,
    var(--white-color)
  );
}
.video-section p {
  margin-top: 30px;
  margin-bottom: 30px;
}
iframe {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
.no-padding-bottom {
  padding-bottom: 0;
}
/* Finish video-section */
